In [72]:
import pandas as pd
pd.options.display.float_format = "{:.2f}".format

In [73]:
dados_cidades = pd.read_csv('BRAZIL_CITIES.csv', sep = ';')
dicionario = pd.read_csv('Data_Dictionary.csv', sep = ';')

In [74]:
dados_cidades.head()

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,...,Pu_Bank,Pr_Assets,Pu_Assets,Cars,Motorcycles,Wheeled_tractor,UBER,MAC,WAL-MART,POST_OFFICES
0,Abadia De Goiás,GO,0,6876.00,6876.00,0.00,2137.00,1546.00,591.00,5300.00,...,nan,nan,nan,2158.00,1246.00,0.00,nan,nan,nan,1.00
1,Abadia Dos Dourados,MG,0,6704.00,6704.00,0.00,2328.00,1481.00,847.00,4154.00,...,nan,nan,nan,2227.00,1142.00,0.00,nan,nan,nan,1.00
2,Abadiânia,GO,0,15757.00,15609.00,148.00,4655.00,3233.00,1422.00,10656.00,...,1.00,33724584.00,67091904.00,2838.00,1426.00,0.00,nan,nan,nan,3.00
3,Abaeté,MG,0,22690.00,22690.00,0.00,7694.00,6667.00,1027.00,18464.00,...,2.00,44974716.00,371922572.00,6928.00,2953.00,0.00,nan,nan,nan,4.00
4,Abaetetuba,PA,0,141100.00,141040.00,60.00,31061.00,19057.00,12004.00,82956.00,...,4.00,76181384.00,800078483.00,5277.00,25661.00,0.00,nan,nan,nan,2.00

In [75]:
dados_cidades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5573 entries, 0 to 5572
Data columns (total 81 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CITY                    5573 non-null   object
 1   STATE                   5573 non-null   object
 2   CAPITAL                 5573 non-null   int64
 3   IBGE_RES_POP            5565 non-null   float64
 4   IBGE_RES_POP_BRAS       5565 non-null   float64
 5   IBGE_RES_POP_ESTR       5565 non-null   float64
 6   IBGE_DU                 5563 non-null   float64
 7   IBGE_DU_URBAN           5563 non-null   float64
 8   IBGE_DU_RURAL           5492 non-null   float64
 9   IBGE_POP                5565 non-null   float64
 10  IBGE_1                  5565 non-null   float64
 11  IBGE_1-4                5565 non-null   float64
 12  IBGE_5-9                5565 non-null   float64
 13  IBGE_10-14              5565 non-null   float64
 14  IBGE_15-59              5565 non-null   float64
 15  IBGE_60+                5565 non-null   float64
 16  IBGE_PLANTED_AREA       5570 non-null   float64
 17  IBGE_CROP_PRODUCTION_$  5570 non-null   float64
 18  IDHM Ranking 2010       5565 non-null   float64
 19  IDHM                    5565 non-null   float64
 20  IDHM_Renda              5565 non-null   float64
 21  IDHM_Longevidade        5565 non-null   float64
 22  IDHM_Educacao           5565 non-null   float64
 23  LONG                    5564 non-null   float64
 24  LAT                     5564 non-null   float64
 25  ALT                     5564 non-null   float64
 26  PAY_TV                  5570 non-null   float64
 27  FIXED_PHONES            5570 non-null   float64
 28  AREA                    5570 non-null   object
 29  REGIAO_TUR              3285 non-null   object
 30  CATEGORIA_TUR           3285 non-null   object
 31  ESTIMATED_POP           5570 non-null   float64
 32  RURAL_URBAN             5570 non-null   object
 33  GVA_AGROPEC             5570 non-null   float64
 34  GVA_INDUSTRY            5570 non-null   float64
 35  GVA_SERVICES            5570 non-null   float64
 36  GVA_PUBLIC              5570 non-null   float64
 37   GVA_TOTAL              5570 non-null   float64
 38  TAXES                   5570 non-null   float64
 39  GDP                     5570 non-null   float64
 40  POP_GDP                 5570 non-null   float64
 41  GDP_CAPITA              5570 non-null   float64
 42  GVA_MAIN                5570 non-null   object
 43  MUN_EXPENDIT            4081 non-null   float64
 44  COMP_TOT                5570 non-null   float64
 45  COMP_A                  5570 non-null   float64
 46  COMP_B                  5570 non-null   float64
 47  COMP_C                  5570 non-null   float64
 48  COMP_D                  5570 non-null   float64
 49  COMP_E                  5570 non-null   float64
 50  COMP_F                  5570 non-null   float64
 51  COMP_G                  5570 non-null   float64
 52  COMP_H                  5570 non-null   float64
 53  COMP_I                  5570 non-null   float64
 54  COMP_J                  5570 non-null   float64
 55  COMP_K                  5570 non-null   float64
 56  COMP_L                  5570 non-null   float64
 57  COMP_M                  5570 non-null   float64
 58  COMP_N                  5570 non-null   float64
 59  COMP_O                  5570 non-null   float64
 60  COMP_P                  5570 non-null   float64
 61  COMP_Q                  5570 non-null   float64
 62  COMP_R                  5570 non-null   float64
 63  COMP_S                  5570 non-null   float64
 64  COMP_T                  5570 non-null   float64
 65  COMP_U                  5570 non-null   float64
 66  HOTELS                  887 non-null    float64
 67  BEDS                    887 non-null    float64
 68  Pr_Agencies             3342 non-null   float64
 69  Pu_Agencies             3342 non-null   float64
 70  Pr_Bank                 3342 non-null   float64
 71  Pu_Bank                 3342 non-null   float64
 72  Pr_Assets               3342 non-null   float64
 73  Pu_Assets               3342 non-null   float64
 74  Cars                    5562 non-null   float64
 75  Motorcycles             5562 non-null   float64
 76  Wheeled_tractor         5562 non-null   float64
 77  UBER                    125 non-null    float64
 78  MAC                     166 non-null    float64
 79  WAL-MART                102 non-null    float64
 80  POST_OFFICES            5453 non-null   float64
dtypes: float64(73), int64(1), object(7)
memory usage: 3.4+ MB

In [76]:
dados_cidades['MUN_EXPENDIT'].fillna(dados_cidades['MUN_EXPENDIT'].mean(), inplace = True)
dados_cidades['HOTELS'].fillna(0, inplace = True)
dados_cidades['BEDS'].fillna(0, inplace = True)
dados_cidades['REGIAO_TUR'].fillna('Nenhum', inplace = True)
dados_cidades['CATEGORIA_TUR'].fillna('Nenhum', inplace = True)
dados_cidades['UBER'].fillna(0, inplace = True)
dados_cidades['MAC'].fillna(0, inplace = True)
dados_cidades['WAL-MART'].fillna(0, inplace = True)
dados_cidades['POST_OFFICES'].fillna(0, inplace = True)
dados_cidades['Pr_Agencies'].fillna(0, inplace = True)
dados_cidades['Pu_Agencies'].fillna(0, inplace = True)
dados_cidades['Pr_Bank'].fillna(0, inplace = True)
dados_cidades['Pu_Bank'].fillna(0, inplace = True)
dados_cidades['Pr_Assets'].fillna(0, inplace = True)
dados_cidades['Pu_Assets'].fillna(0, inplace = True)
dados_cidades.dropna(inplace = True)

In [77]:
dados_cidades.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5481 entries, 0 to 5572
Data columns (total 81 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CITY                    5481 non-null   object
 1   STATE                   5481 non-null   object
 2   CAPITAL                 5481 non-null   int64
 3   IBGE_RES_POP            5481 non-null   float64
 4   IBGE_RES_POP_BRAS       5481 non-null   float64
 5   IBGE_RES_POP_ESTR       5481 non-null   float64
 6   IBGE_DU                 5481 non-null   float64
 7   IBGE_DU_URBAN           5481 non-null   float64
 8   IBGE_DU_RURAL           5481 non-null   float64
 9   IBGE_POP                5481 non-null   float64
 10  IBGE_1                  5481 non-null   float64
 11  IBGE_1-4                5481 non-null   float64
 12  IBGE_5-9                5481 non-null   float64
 13  IBGE_10-14              5481 non-null   float64
 14  IBGE_15-59              5481 non-null   float64
 15  IBGE_60+                5481 non-null   float64
 16  IBGE_PLANTED_AREA       5481 non-null   float64
 17  IBGE_CROP_PRODUCTION_$  5481 non-null   float64
 18  IDHM Ranking 2010       5481 non-null   float64
 19  IDHM                    5481 non-null   float64
 20  IDHM_Renda              5481 non-null   float64
 21  IDHM_Longevidade        5481 non-null   float64
 22  IDHM_Educacao           5481 non-null   float64
 23  LONG                    5481 non-null   float64
 24  LAT                     5481 non-null   float64
 25  ALT                     5481 non-null   float64
 26  PAY_TV                  5481 non-null   float64
 27  FIXED_PHONES            5481 non-null   float64
 28  AREA                    5481 non-null   object
 29  REGIAO_TUR              5481 non-null   object
 30  CATEGORIA_TUR           5481 non-null   object
 31  ESTIMATED_POP           5481 non-null   float64
 32  RURAL_URBAN             5481 non-null   object
 33  GVA_AGROPEC             5481 non-null   float64
 34  GVA_INDUSTRY            5481 non-null   float64
 35  GVA_SERVICES            5481 non-null   float64
 36  GVA_PUBLIC              5481 non-null   float64
 37   GVA_TOTAL              5481 non-null   float64
 38  TAXES                   5481 non-null   float64
 39  GDP                     5481 non-null   float64
 40  POP_GDP                 5481 non-null   float64
 41  GDP_CAPITA              5481 non-null   float64
 42  GVA_MAIN                5481 non-null   object
 43  MUN_EXPENDIT            5481 non-null   float64
 44  COMP_TOT                5481 non-null   float64
 45  COMP_A                  5481 non-null   float64
 46  COMP_B                  5481 non-null   float64
 47  COMP_C                  5481 non-null   float64
 48  COMP_D                  5481 non-null   float64
 49  COMP_E                  5481 non-null   float64
 50  COMP_F                  5481 non-null   float64
 51  COMP_G                  5481 non-null   float64
 52  COMP_H                  5481 non-null   float64
 53  COMP_I                  5481 non-null   float64
 54  COMP_J                  5481 non-null   float64
 55  COMP_K                  5481 non-null   float64
 56  COMP_L                  5481 non-null   float64
 57  COMP_M                  5481 non-null   float64
 58  COMP_N                  5481 non-null   float64
 59  COMP_O                  5481 non-null   float64
 60  COMP_P                  5481 non-null   float64
 61  COMP_Q                  5481 non-null   float64
 62  COMP_R                  5481 non-null   float64
 63  COMP_S                  5481 non-null   float64
 64  COMP_T                  5481 non-null   float64
 65  COMP_U                  5481 non-null   float64
 66  HOTELS                  5481 non-null   float64
 67  BEDS                    5481 non-null   float64
 68  Pr_Agencies             5481 non-null   float64
 69  Pu_Agencies             5481 non-null   float64
 70  Pr_Bank                 5481 non-null   float64
 71  Pu_Bank                 5481 non-null   float64
 72  Pr_Assets               5481 non-null   float64
 73  Pu_Assets               5481 non-null   float64
 74  Cars                    5481 non-null   float64
 75  Motorcycles             5481 non-null   float64
 76  Wheeled_tractor         5481 non-null   float64
 77  UBER                    5481 non-null   float64
 78  MAC                     5481 non-null   float64
 79  WAL-MART                5481 non-null   float64
 80  POST_OFFICES            5481 non-null   float64
dtypes: float64(73), int64(1), object(7)
memory usage: 3.4+ MB

In [78]:
dados_cidades.describe()

,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,IBGE_1,IBGE_1-4,...,Pu_Bank,Pr_Assets,Pu_Assets,Cars,Motorcycles,Wheeled_tractor,UBER,MAC,WAL-MART,POST_OFFICES
count,5481.00,5481.00,5481.00,5481.00,5481.00,5481.00,5481.00,5481.00,5481.00,5481.00,...,5481.00,5481.00,5481.00,5481.00,5481.00,5481.00,5481.00,5481.00,5481.00,5481.00
mean,0.00,29601.50,29544.83,56.66,8808.53,7345.16,1463.37,23281.59,329.99,1331.29,...,0.94,3809938210.93,3079885461.63,8101.63,4469.30,4.73,0.02,0.09,0.02,1.95
std,0.06,174362.50,172876.69,1633.52,54820.87,54292.18,1695.13,161369.05,2069.86,8223.15,...,1.06,263030722093.43,115990290556.47,83420.18,19319.02,50.67,0.14,1.87,0.41,3.81
min,0.00,805.00,805.00,0.00,239.00,60.00,3.00,174.00,0.00,5.00,...,0.00,0.00,0.00,2.00,4.00,0.00,0.00,0.00,0.00,0.00
25%,0.00,5209.00,5203.00,0.00,1562.00,866.00,487.00,2773.00,38.00,157.00,...,0.00,0.00,0.00,596.00,587.00,0.00,0.00,0.00,0.00,1.00
50%,0.00,10859.00,10847.00,0.00,3127.00,1818.00,931.00,6106.00,91.00,372.00,...,1.00,0.00,22200450.00,1416.00,1267.00,0.00,0.00,0.00,0.00,1.00
75%,0.00,22801.00,22747.00,9.00,6548.00,4448.00,1834.00,14876.00,226.00,920.00,...,2.00,45874288.00,190098147.00,3907.00,3179.00,1.00,0.00,0.00,0.00,2.00
max,1.00,11253503.00,11133776.00,119727.00,3576148.00,3548433.00,33809.00,10463636.00,129464.00,514794.00,...,8.00,19470765412654.00,8016164488595.00,5740995.00,1134570.00,3236.00,1.00,130.00,26.00,225.00

In [84]:
dados_cidades.loc[dados_cidades['WAL-MART'] == dados_cidades['WAL-MART'].max()]

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,...,Pu_Bank,Pr_Assets,Pu_Assets,Cars,Motorcycles,Wheeled_tractor,UBER,MAC,WAL-MART,POST_OFFICES
4333,Salvador,BA,1,2675656.00,2671290.00,4366.00,860309.00,860090.00,219.00,1955661.00,...,4.00,58433858211.00,189945516957.00,599136.00,146108.00,89.00,1.00,14.00,26.00,45.00

### Ficamos com 5481 cidades com todos os dados preenchidos

In [55]:
dados_cidades.loc[ (dados_cidades['MUN_EXPENDIT'].isna()) & (dados_cidades['CAPITAL'] == 1)]

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,...,Pu_Bank,Pr_Assets,Pu_Assets,Cars,Motorcycles,Wheeled_tractor,UBER,MAC,WAL-MART,POST_OFFICES
755,Brasília,DF,1,2570160.0,2564370.0,5790.0,774820.0,751558.0,23261.0,2450634.0,...,4.0,2.920933e+11,8.016164e+12,1288107.0,211392.0,594.0,1.0,28.0,1.0,60.0
1812,Florianópolis,SC,1,421240.0,417674.0,3566.0,147486.0,142167.0,5320.0,401987.0,...,3.0,8.180435e+09,3.793072e+10,226898.0,58757.0,408.0,1.0,5.0,2.0,18.0